<%
const metaConfig = require('../meta.json')
const meta = metaConfig.default;
%>
<noscript>
<div class="noscript">
  <p>当サイトを快適にご利用いただくには、ブラウザでJavaScriptを有効にしてください。</p>
</div>
</noscript>
<header class="siteHeader">
  <h1 class="siteID"><a href="<%= meta.url %>">EXAMPLE Co., Ltd.</a></h1>
</header>
<div class="drawer-btn" data-drawer-target="#drawerSitemap"><a class="resp--nav" title="responsive navigation" href="javascript:;">
<i role="presentation"></i>
<i role="presentation"></i>
<i role="presentation"></i></a>
</div>
<div id="drawerSitemap">
  <div class="drawer-nav offcanvas">
    <div class="offcanvas-bar">
      <nav class="drawerInNav">
        <ul>
          <li>
            <a href="/" data-id="index" data-id="index">
              <span class="drawerInNav__layer">HOME</span>
            </a>
          </li>
          <li>
            <a href="/" data-id="services">
              <span class="drawerInNav__layer">SERVICES</span>
            </a>
          </li>
          <li>
            <a href="/" data-id="works">
              <span class="drawerInNav__layer">WORKS</span>
            </a>
          </li>
          <li>
            <a href="/" data-id="staff">
              <span class="drawerInNav__layer">STAFF</span>
            </a>
          </li>
          <li>
            <a href="/" data-id="clients">
              <span class="drawerInNav__layer">CLIENTS</span>
            </a>
          </li>
          <li>
            <a href="/" data-id="price">
              <span class="drawerInNav__layer">PRICE</span>
            </a>
          </li>
          <li>
            <a href="/" data-id="contact">
              <span class="drawerInNav__layer">CONTACT</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="drawer-content offcanvas">
    <div class="offcanvas-bar">
      <div class="drawerInContents">
        <div class="drawerInContents__image">
          <img>
        </div>
        <div class="drawerInContents__heading">□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□</div>
        <div class="drawerInContents__text">
          □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□
        </div>
      </div>
    </div>
  </div>
</div><span class="offcanvas-base"></span><span class="drawer-close"></span>