#----------------------------------------------------------------------
# EditorConfig
# @url http://editorconfig.org/
#----------------------------------------------------------------------
root = true

#----------------------------------------------------------------------
# 基本設定
#----------------------------------------------------------------------
[*]
# 文字コード
charset = utf-8
# 改行コード
end_of_line = lf
# 最終行に新しい改行を付加する
insert_final_newline = true
# 余分なスペース・タブを削除
trim_trailing_whitespace = true
# インデントタイプ
indent_style = space
# インデントサイズ
indent_size = 2

#----------------------------------------------------------------------
# HTML/CSS/Javascript
#----------------------------------------------------------------------
[*.html]
insert_final_newline = false
[*.ejs]
insert_final_newline = false
[*.pug]
insert_final_newline = false

#----------------------------------------------------------------------
# Markdown
#----------------------------------------------------------------------
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
