<%
pageID = 'index'
pageContents = (__append) => {
%>
<div class="homeContainer" id="homeContainer">
  <ul id="bgCanvasMap" class="bgCanvasMap">
    <li class="bgCanvasMap__item">
      <span class="bgCanvasMap__wrapper">
        <img src="./assets/img/home/tokyo.jpg" alt="" />
      </span>
    </li>
  </ul>
  <div class="fpFog" style="background-image: url('./assets/img/common/fog_pattern03.png');" data-speed-y="20"></div>
  <section class="homeSection -fog">
    <div class="homeSection__wrapper homeSection__statement" data-speed-y="-4">
      <h2 class="homeSection__heading">何が最適なのか</h2>
      <div class="homeSection__description">
        <p>その答えがここにあります。</p>
      </div>
      <div class="homeSection__spec">
        <div class="styleCard">
          <img src="./assets/img/home/city.jpg" alt="" class="styleCard__img">
          <div class="styleCard__navigator fontFamily--sans">
            <p>Web Promotion</p> <div class="styleCard__navigatorIcon">
              <i></i><i></i><i></i>
            </div>
          </div>
          <div class="styleCard__footer">
            <p>中小企業様や店舗様を中心に戦略、目的に合わせたデザインだけじゃない費用対効果の高いホームページ・更新システムを制作します。</p>
          </div>
        </div>
        <div class="styleCard">
          <img src="./assets/img/home/tokyo.jpg" alt="" class="styleCard__img">
          <div class="styleCard__navigator fontFamily--sans">
            <p>WordPress Customize</p> <div class="styleCard__navigatorIcon">
              <i></i><i></i><i></i>
            </div>
          </div>
          <div class="styleCard__footer">
            <p>WordPress(ワードプレス)の導入からカスタマイズ、アフターフォローまでお困り事はどんな事でもお気軽にご相談ください。制作、運営コストの削減にもつながります。</p>
          </div>
        </div>
        <div class="styleCard">
          <img src="./assets/img/home/street.jpg" alt="" class="styleCard__img">
          <div class="styleCard__navigator">
            <p>Support Service</p> <div class="styleCard__navigatorIcon">
              <i></i><i></i><i></i>
            </div>
          </div>
          <div class="styleCard__footer">
            <p>ホームページは制作後の運営が何より大切です。お客様の目標を達成するためのサポートをおこない、人の集まるサイトに育てます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="homeSection">
    <div class="homeSection__bg" style="background-image: url('./assets/img/home/city.jpg');"></div>
    <div class="homeSection__layer homeSection__statement" data-offset="100" data-speed-y="-4">
      <h2 class="homeSection__heading fontFamily--sans">Our Works</h2>
      <div class="homeSection__description">
        <p>創るだけで完結しない。お客様と一緒に育てるホームページが、エグザムの実績です。</p>
      </div>
      <div class="homeSection__spec -n5">
        <div class="styleCard">
          <img src="./assets/img/home/works1.jpg" alt="" class="styleCard__img">
          <div class="styleCard__navigator">
            <p>おもてなしスタッフ.com</p> <div class="styleCard__navigatorIcon">
              <i></i><i></i><i></i>
            </div>
          </div>
          <div class="styleCard__footer">
            <p>中小企業様や店舗様を中心に戦略、目的に合わせたデザインだけじゃない費用対効果の高いホームページ・更新システムを制作します。</p>
          </div>
        </div>
        <div class="styleCard">
          <img src="./assets/img/home/works2.jpg" alt="" class="styleCard__img">
          <div class="styleCard__navigator">
            <p>マルトク</p> <div class="styleCard__navigatorIcon">
              <i></i><i></i><i></i>
            </div>
          </div>
          <div class="styleCard__footer">
            <p>WordPress(ワードプレス)の導入からカスタマイズ、アフターフォローまでお困り事はどんな事でもお気軽にご相談ください。制作、運営コストの削減にもつながります。</p>
          </div>
        </div>
        <div class="styleCard">
          <img src="./assets/img/home/works3.jpg" alt="" class="styleCard__img">
          <div class="styleCard__navigator">
            <p>エトレトヨナカ</p> <div class="styleCard__navigatorIcon">
              <i></i><i></i><i></i>
            </div>
          </div>
          <div class="styleCard__footer">
            <p>ホームページは制作後の運営が何より大切です。お客様の目標を達成するためのサポートをおこない、人の集まるサイトに育てます。</p>
          </div>
        </div>
        <div class="styleCard">
          <img src="./assets/img/home/works4.jpg" alt="" class="styleCard__img">
          <div class="styleCard__navigator">
            <p>菊京屋</p> <div class="styleCard__navigatorIcon">
              <i></i><i></i><i></i>
            </div>
          </div>
          <div class="styleCard__footer">
            <p>WordPress(ワードプレス)の導入からカスタマイズ、アフターフォローまでお困り事はどんな事でもお気軽にご相談ください。制作、運営コストの削減にもつながります。</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="homeSection -fog">
    <div class="homeSection__wrapper homeSection__statement" data-offset="200" data-speed-y="-4">
      <h2 class="homeSection__heading">中小企業に必要なもの＝「育てる」という発想</h2>
      <div class="homeSection__description">
        <p>伝えるべきモノを伝えるべき人へ　的確な分析と戦略がその後の成長を左右する</p>
      </div>
      <div class="homeSection__text">
        <p>今やホームページをもたない企業、店舗の数は少なくなり、ホームページはあって当たり前という認識に変わりつつあります。世の中にWebサイトは溢れかえり、ホームページがあるだけで効果を発揮するという時代は終わりました。</p>
      </div>
      <div class="homeSection__more">
        <a href="" class="homeSectionBtn">
          <span class="homeSectionBtn__layer">
            Webサイトについて
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="homeSection">
    <div class="homeSection__bg" style="background-image: url('./assets/img/home/works3.jpg');"></div>
    <div class="homeSection__layer homeSection__statement" data-offset="300" data-speed-y="-4">
      <h2 class="homeSection__heading">ホームページやWordPressでお困りなことありませんか？</h2>
      <div class="homeSection__description">
        <p>創るだけで完結しない。お客様と一緒に育てるホームページが、エグザムの実績です。</p>
      </div>
      <div class="homeSection__more">
        <a href="" class="homeSectionBtn">
          <span class="homeSectionBtn__layer">
            エグザムのソリューション
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="homeSection -fog">
    <div class="homeSection__wrapper homeSection__statement" data-offset="400" data-speed-y="-4">
      <h2 class="homeSection__heading">お客様の声</h2>
      <div class="homeSection__description">
        <p>エグザムに寄せられた、お客様の声の一部を、ご紹介します。</p>
      </div>
    </div>
  </section>
</div>
<% } %><%- include(`layout/_base`) -%>